In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [2]:
# path = 'C:\Jiayang\JupyterLab\Comp_551\mini_project_1\adult.test'
header = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation',
       'relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary']

data_df = pd.read_csv('C:/Jiayang/JupyterLab/Comp_551/mini_project_1/adult.data',header=None,na_values = ' ?',names = header)
test_df = pd.read_csv('C:/Jiayang/JupyterLab/Comp_551/mini_project_1/adult.test',header = None,na_values = ' ?',names = header)

In [3]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
data_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [65]:
# Check all entries
for col in data_df.columns:
  if data_df[col].dtype == "object":
    print('Attribute name:',col)
    print('-------------------')
    print(data_df[col].value_counts())
    print('-------------------')

Attribute name: workclass
-------------------
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64
-------------------
Attribute name: education
-------------------
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64
-------------------
Attribute name: marital-status
-------------------
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64
-------------------
Attribute name: occupation
-------------------
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64
-------------------
Attribute name: relationship
-------------------
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64
-------------------
Attribute name: race
-------------------
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64
-------------------
Attribute name: sex
-------------------
 Male      21790
 Female    10771
Name: sex, dtype: int64
-------------------
Attribute name: native-country
-------------------
 United-States                 29170
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64
-------------------
Attribute name: salary
-------------------
 <=50K    24720
 >50K      7841
Name: salary, dtype: int64
-------------------

## Prepocessing

In [14]:
# create a copy of data_df
df = data_df.copy(deep = True)

In [19]:
# drop invalid data rows
df = df.dropna()
df.shape

(30162, 15)

In [21]:
#drop all rows that has null values
df = df.dropna()
#select feature columns from dataset
null_data = df.iloc[:,:-1]
# find null vule for all attributes and sum totall number
null_data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
dtype: int64

## encoding

In [39]:
# Converting 'sex' and 'salary' to numerical

df.sex = np.where(df.sex == 'Male', 1, 0)
df.salary = np.where(df.salary == '>50K', 1 , 0)

In [54]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,0,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,0,13,United-States,0

In [50]:
# Check features
obj_col= []
for col in df.columns:
    if df[col].dtype == "object":
        obj_col.append(col)
print(obj_col)

['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'native-country']

In [52]:
# Check features
int_col= []
for col in df.columns:
    if df[col].dtype == "int64":
        int_col.append(col)
print(int_col)

['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [55]:
# Create copies of dataset for data preparation purposes
df_copy = df.copy(deep = True)

In [66]:
from sklearn.preprocessing import StandardScaler

# # Create a dataframe with int64 data type
# colname= []
# for col in df.columns:
#   if df[col].dtype == "int64":
#       colname.append(col)

# # Create copies of dataset for data preparation purposes
# df_copy = df.copy(deep = True)
# df_fe = df.copy()

# Create dataframe for categorical features 
df_cf = df.copy()
df_cf.drop('salary',axis='columns', inplace=True)
df_cf.drop(colname,axis='columns', inplace=True)

# create dataframe for target class
df_tc = df.copy()
df_tc.drop(df_copy.iloc[:,:-1],axis='columns', inplace=True)


# create a scaler object
std_scaler = StandardScaler()
std_scaler

# Normalize numeric attributes and assign it into a new dataframe
df_norm = pd.DataFrame(std_scaler.fit_transform(df_copy[colname]), columns=colname)

In [67]:
df_norm

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
0,0.042796,-1.062722,1.128918,0.146092,-0.218586,-0.077734
1,0.880288,-1.007871,1.128918,-0.147445,-0.218586,-2.331531
2,-0.033340,0.244693,-0.439738,-0.147445,-0.218586,-0.077734
3,1.108695,0.425240,-1.224066,-0.147445,-0.218586,-0.077734
4,-0.794697,1.406658,1.128918,-0.147445,-0.218586,-0.077734
...,...,...,...,...,...,...
30157,-0.870832,0.638972,0.736754,-0.147445,-0.218586,-0.244682
30158,0.118931,-0.335252,-0.439738,-0.147445,-0.218586,-0.077734
30159,1.489374,-0.358575,-0.439738,-0.147445,-0.218586,-0.077734
30160,-1.251511,0.110705,-0.439738,-0.147445,-0.218586,-1.747213
30161,1.032559,0.928841,-0.439738,1.881120,-0.218586,-0.077734

In [61]:
from sklearn.preprocessing import StandardScaler

# Create a dataframe with int64 data type
colname= []
for col in df.columns:
  if df[col].dtype == "int64":
      colname.append(col)
print(colname)


# enconde categorical features into numerical features
for col in df_int.columns[:]:
  if df_int[col].dtype == "object":
    df_int[col] = ord_enc.fit_transform(df_int[[col]])

['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [48]:
# import sklearn.preprocessing library
from sklearn.preprocessing import OrdinalEncoder
ord_enc = OrdinalEncoder()

# enconde categorical features into numerical features
for col in df_fe.columns[:]:
  if df_fe[col].dtype == "object":
    df_fe[col] = ord_enc.fit_transform(df_fe[[col]])

NameError: name 'df_cl' is not defined

In [ ]:
# Insert id column to different datasets
df_norm.insert(0, 'id', range(0, 0 + len(df_norm)))
df_fe.insert(0, 'id', range(0, 0 + len(df_fe)))
df_cl.insert(0, 'id', range(0, 0 + len(df_cl)))

#Show shapes for datasets
print(df_norm.shape)
print(df_fe.shape)
print(df_cl.shape)

In [ ]:
# Merge all datasets
df_feature = pd.merge(df_norm,df_fe, on=["id"])
df_final = pd.merge(df_feature,df_cl, on=["id"])

# Drop id column from the merged dataset
df_final.drop('id',axis='columns', inplace=True)

# Show the the tope 5 obersrvation of the dataset
df_final.head(5)

In [20]:
#check unique values
uSalary = list(data_df.salary.unique())
print("Salary: " + str(uSalary)) 
uSex = list(data_df.sex.unique())
print("Sex: " + str(uSex))


# Converting to numerical
data_df.sex = np.where(data_df.sex == 'Male', 1, 0)
data_df.salary = np.where(data_df.salary == '>50K', 1 , 0)

Salary: [' <=50K', ' >50K']
Sex: [' Male', ' Female']

In [105]:
data_df.dropna(axis=0)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
def cleanOutData(dataSet):
    for i in range(len(dataSet)):
        if dataSet[i].contain('?'):
            dataSet.remove(dataSet[i]) (  dataSet.drop(i) )
            i-=1